node_modules/

dist/
lib/
**/target/

thirdparty/
src-ui/peopleTraffic/js/vendor/toGif/Actionscript

.idea/

.prettierrc

**/*.html
**/*.css
**/*.bs.js
**/*.gen.tsx
**/*.json
**/*.md
**/*.yml

.clang-tidy