/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.config-error {
	display: none;
}

.config {
	display: none;
}

div#stats {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 500;
	/*width: 100px;*/
	/*height: 50px;*/
	user-select: none;
}

div#stats > canvas {
	/*width: 100px;*/
	/*height: 50px;*/
}