name: test

on: [push]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: build-${{ matrix.platform }}
    environment: test
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-22.04, ubuntu-24.04, windows-2019, windows-2022, windows-2025, macos-13, macos-14, macos-15]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          key: ${{ matrix.platform }}

      - name: Install grcov
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: grcov

      - name: Check formatting
        run: cargo fmt --manifest-path evacuation-gui-iced/Cargo.toml --check

      # - name: Linting
      #   run: cargo clippy -- -D warnings # TODO: return this stage after warnings fix

      - name: Build the app
        run: cargo build --release

      - name: Run rust tests and get coverage
        uses: actions-rs/cargo@v1
        with:
          command: xtask
          args: coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/*.lcov
